body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
  }
  
  .navbar {
    background-color: #1b1616;
  }
  
  .header {
    color: #dc3545;
  }
  
  .container.text-center {
    margin-top: 40px;
  }
  
  .text-first {
    margin-top: 30px;
  }
  
  .about {
    margin-top: 50px;
  }
  
  .skills {
    margin-top: 40px;
  }
  
  .progress {
    margin-bottom: 20px;
  }
  
  .rounded {
    height: 120px;
    color: blue;
  }
  
  .contact {
    margin-top: 50px;
    padding: 50px 0;
    background-color: #f8f9fa;
  }
  
  #footer {
    background-color: #f8f9fa;
    padding: 20px 0;
  }
  
  /* Color customization */
  .navbar-light .navbar-nav .nav-link {
    color: rgb(5, 5, 5);
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #dc3545;
  }
  
  .progress-bar {
    background-color: #dc3545;
  }
  
  .btn-primary {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-primary:hover {
    background-color: #c82333;
    border-color: #c82333;
  }
  
  
